FRONTEND_IMAGE=ghcr.io/your-github-account/your-frontend-repository
FRONTEND_BLUE_TAG=initial
FRONTEND_GREEN_TAG=initial
FRONTEND_ACTIVE_COLOR=blue

FRONTEND_NGINX_PORT=80
FRONTEND_BLUE_PORT=3001
FRONTEND_GREEN_PORT=3002

BACKEND_UPSTREAM=your-week12-backend-private-ip:80
