@font-face {
  font-family: "42dot Sans";
  src: url("../assets/fonts/42dotSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "42dot Sans";
  src: url("../assets/fonts/42dotSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f5f7;
  color: #000000;
}

